nodeRED flow code.txt
[{"id":"f61664a0.9dca58","type":"tab","label":"centralised remote control pump","disabled":false,"info":""},{"id":"f1e2ad5a.0ad4a","type":"function","z":"f61664a0.9dca58","name":"commandnode","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":520,"wires":[["925d2052.fedd1","2b35f4a2.8ab1cc","91d3987.7e9fc68"]]},{"id":"91d3987.7e9fc68","type":"debug","z":"f61664a0.9dca58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":140,"wires":[]},{"id":"925d2052.fedd1","type":"http response","z":"f61664a0.9dca58","name":"response","statusCode":"","headers":{},"x":820,"y":520,"wires":[]},{"id":"6e0e27eb.2ed948","type":"ui_button","z":"f61664a0.9dca58","name":"","group":"b7b31566.17b528","order":9,"width":0,"height":0,"passthru":false,"label":"Motor1ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Motor1ON","payloadType":"str","topic":"","x":130,"y":60,"wires":[["2b35f4a2.8ab1cc","91d3987.7e9fc68"]]},{"id":"50e3f15a.102db","type":"ui_button","z":"f61664a0.9dca58","name":"","group":"b7b31566.17b528","order":10,"width":0,"height":0,"passthru":false,"label":"Motor1OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Motor1OFF","payloadType":"str","topic":"","x":130,"y":220,"wires":[["2b35f4a2.8ab1cc","91d3987.7e9fc68"]]},{"id":"536538db.be7cd8","type":"ui_button","z":"f61664a0.9dca58","name":"","group":"b7b31566.17b528","order":12,"width":0,"height":0,"passthru":false,"label":"Motor   2 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Motor2ON","payloadType":"str","topic":"","x":130,"y":120,"wires":[["2b35f4a2.8ab1cc","91d3987.7e9fc68"]]},{"id":"f1d203e4.b7c56","type":"ui_button","z":"f61664a0.9dca58","name":"","group":"b7b31566.17b528","order":11,"width":0,"height":0,"passthru":false,"label":"Motor   2 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Motor2OFF","payloadType":"str","topic":"","x":130,"y":280,"wires":[["2b35f4a2.8ab1cc","91d3987.7e9fc68"]]},{"id":"e2500681.ec89a8","type":"http in","z":"f61664a0.9dca58","name":"","url":"/receive","method":"get","upload":false,"swaggerDoc":"","x":310,"y":520,"wires":[["f1e2ad5a.0ad4a"]]},{"id":"2b35f4a2.8ab1cc","type":"ibmiot out","z":"f61664a0.9dca58","authentication":"apiKey","apiKey":"926d319f.08c47","outputType":"cmd","deviceId":"IOT","deviceType":"SONY","eventCommandType":"home","format":"String","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":280,"wires":[]},{"id":"b7b31566.17b528","type":"ui_group","z":"","name":"pavani","tab":"5f91d37c.56418c","disp":true,"width":"6","collapse":false},{"id":"926d319f.08c47","type":"ibmiot","z":"","name":"pavani","keepalive":"60","serverName":"ppql51.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"5f91d37c.56418c","type":"ui_tab","z":"","name":"pavani","icon":"dashboard","disabled":false,"hidden":false}]